<a href="https://colab.research.google.com/github/Explorer9/prabhu_INFO5731/blob/master/In_class_exercise_04_(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The fourth in-class-exercise (20 points in total)**

# 1. Text Data Preprocessing

Here is a [legal case](https://github.com/unt-iialab/INFO5731_FALL2020/blob/master/In_class_exercise/01-05-1%20%20Adams%20v%20Tanner.txt) we collected from westlaw, please follow the steps we mentioned in lesson 5 to clean the data:



## 1.1 Basic feature extraction using text data (4 points)

*   Number of sentences
*   Number of words
*   Number of characters
*   Average word length
*   Number of stopwords
*   Number of special characters
*   Number of numerics
*   Number of uppercase words

## 1.2 Basic Text Pre-processing of text data (4 points)

*   Lower casing
*   Punctuation removal
*   Stopwords removal
*   Frequent words removal
*   Rare words removal
*   Spelling correction
*   Tokenization
*   Stemming
*   Lemmatization

## 1.3 Save all the **clean sentences** to a **csv file** (one column, each raw is a sentence) after finishing all the steps above. (4 points)


## 1.4 Advance Text Processing (Extra credit: 4 points)

*   Calculate the term frequency of all the terms.
*   Print out top 10 1-gram, top 10 2-grams, and top 10 3-grams terms as features.

In [11]:
# Write your code here
import requests
opener=open('/content/01-05-1 Adams v Tanner.txt','r')
text=opener.read()
#print(text)

1.1
#1
print("Number of sentences",text.count('.'))

#2
words=text.split(" ")
print("Number of words",len(words))

#3

print("Number of characters:",len(text))

#4
word_length=0
for i in words:
  word_length=word_length+len(i)
print("Average word length",word_length/len(words))

#5
from nltk.corpus import stopwords
import nltk
nltk.download('stopwords')
stop_count=0
stop = stopwords.words('english')
for i in text.split(" "):
  if i in stop:
    stop_count=stop_count+1
print(" Number of stop words:",stop_count)

#6 
special_count=0
special_characters=['#','@','?','*','!','$','%','^','&','(',')']
for i in text:
  if i in special_characters:
    special_count=special_count+1
print("Numbe of special characters:",special_count)

#7
numeric_count=0
for i in text:
  if i.isdigit():
    numeric_count+=1
print("number of numeric:",numeric_count)

#8
upper_count=0
for i in text:
  if i.isupper():
    upper_count+=1
print("number of upper:",upper_count)

Number of sentences 291
Number of words 3576
Number of characters: 20453
Average word length 4.719798657718121
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
 Number of stop words: 1671
Numbe of special characters: 43
number of numeric: 356
number of upper: 695

In [12]:
1.2
import nltk
nltk.download('punkt')
import pandas as pd
sentence_list=nltk.tokenize.sent_tokenize(text)
d={'sentences':sentence_list}
df=pd.DataFrame(data=d)
#1
df['sentences'] = df['sentences'].apply(lambda x: " ".join(x.lower() for x in x.split()))
print("lower casing: ",df['sentences'].head())

#2
df['sentences'] = df['sentences'].str.replace('[^\w\s]','')
print("punctuaion removal",df['sentences'].head())

#3
df['sentences'] = df['sentences'].apply(lambda x: " ".join(x for x in x.split() if x not in stop))
print("stopwords:",df['sentences'].head())

#4
freq = pd.Series(' '.join(df['sentences']).split()).value_counts()[:10]
freq=list(freq.index)
df['sentences'] = df['sentences'].apply(lambda x: " ".join(x for x in x.split() if x not in freq))
print("frequent words",df['sentences'].head())

#5
freq_lower = pd.Series(' '.join(df['sentences']).split()).value_counts()[-10:]
freq_lower=list(freq_lower.index)
df['sentences'] = df['sentences'].apply(lambda x: " ".join(x for x in x.split() if x not in freq_lower))
print("rare words removal",df['sentences'].head())

#6

from textblob import TextBlob
df['sentences'][:5].apply(lambda x: str(TextBlob(x).correct()))
print("spelling correction",df['sentences'].head())
#7
print(TextBlob(df['sentences'][1]).words)

#8
from nltk.stem import PorterStemmer
st = PorterStemmer()
print("stemming",df['sentences'][:5].apply(lambda x: " ".join([st.stem(word) for word in x.split()])))

#9
from textblob import Word
import nltk
nltk.download('wordnet')

df['sentences'] = df['sentences'].apply(lambda x: " ".join([Word(word).lemmatize() for word in x.split()]))
print("lemmeatiaztion",df['sentences'].head())

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
lower casing:  0                 5 ala. 740 supreme court of alabama.
1                          adams v. tanner and horton.
2                                     june term, 1843.
3    synopsis writ of error to the circuit court of...
4    west headnotes (2) [1] chattel mortgages crops...
Name: sentences, dtype: object
punctuaion removal 0                   5 ala 740 supreme court of alabama
1                            adams v tanner and horton
2                                       june term 1843
3    synopsis writ of error to the circuit court of...
4    west headnotes 2 1 chattel mortgages crops a g...
Name: sentences, dtype: object
stopwords: 0                      5 ala 740 supreme court alabama
1                                adams v tanner horton
2                                       june term 1843
3             synopsis writ error circuit court sumter
4    west headnotes 2 1 chattel mortgages crops gro...
Name: sentences, dtype: object
frequent words 0                            5 ala 740 supreme alabama
1                                  adams tanner horton
2                                       june term 1843
3                   synopsis writ error circuit sumter
4    west headnotes 2 1 chattel mortgages crops gro...
Name: sentences, dtype: object
rare words removal 0                            5 ala 740 supreme alabama
1                                  adams tanner horton
2                                            term 1843
3                   synopsis writ error circuit sumter
4    west headnotes 2 1 chattel mortgages crops gro...
Name: sentences, dtype: object
spelling correction 0                            5 ala 740 supreme alabama
1                                  adams tanner horton
2                                            term 1843
3                   synopsis writ error circuit sumter
4    west headnotes 2 1 chattel mortgages crops gro...
Name: sentences, dtype: object
['adams', 'tanner', 'horton']
stemming 0                             5 ala 740 suprem alabama
1                                   adam tanner horton
2                                            term 1843
3                    synopsi writ error circuit sumter
4    west headnot 2 1 chattel mortgag crop grow exi...
Name: sentences, dtype: object
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
lemmeatiaztion 0                            5 ala 740 supreme alabama
1                                   adam tanner horton
2                                            term 1843
3                   synopsis writ error circuit sumter
4    west headnotes 2 1 chattel mortgage crop growi...
Name: sentences, dtype: object

In [13]:
#1.3

df.to_csv('out_csv.csv',index=False)

In [14]:
#1.4
freq = pd.Series(' '.join(df['sentences']).split()).value_counts()
print(freq)

rep          16
contract     16
growing      16
ala          15
plaintiff    15
             ..
claimed       1
meant         1
value         1
purchaser     1
stated        1
Length: 782, dtype: int64

In [15]:
1.4 
#N-grams
TextBlob(df['sentences'][0]).ngrams(1)

[WordList(['5']),
 WordList(['ala']),
 WordList(['740']),
 WordList(['supreme']),
 WordList(['alabama'])]

In [16]:
TextBlob(df['sentences'][0]).ngrams(2)

[WordList(['5', 'ala']),
 WordList(['ala', '740']),
 WordList(['740', 'supreme']),
 WordList(['supreme', 'alabama'])]

In [17]:
TextBlob(df['sentences'][0]).ngrams(3)

[WordList(['5', 'ala', '740']),
 WordList(['ala', '740', 'supreme']),
 WordList(['740', 'supreme', 'alabama'])]

# 2. Python Regular Expression

## 2.1 Write a Python program to remove leading zeros from an IP address. (4 points)

ip = "260.08.094.109"

In [18]:
# Write your code here
import re
ip = "260.08.094.109"
new_ip=""
for i in ip.split("."):
  if re.findall('^0',i):
    while re.findall('^0',i):
      i=i[1:]
    new_ip=new_ip+"."+i
  else:
    new_ip=new_ip+"."+i

In [19]:
new_ip

'.260.8.94.109'

## 2.2 Write a Python Program to extract all the years from the following sentence. (4 points)

sentence = "The 2010s were a dramatic decade, filled with ups and downs, more than 1000 stroies have happened. As the decade comes to a close, Insider took a look back at some of the biggest headline-grabbing stories, from 2010 to 2019. The result was 119 news stories that ranged from the heartwarming rescue of a Thai boys' soccer team from a flooded cave to the divisive election of President Donald Trump."

In [20]:
# Write your code here
sentence="The 2010s were a dramatic decade, filled with ups and downs, more than 1000 stroies have happened. As the decade comes to a close, Insider took a look back at some of the biggest headline-grabbing stories, from 2010 to 2019. The result was 119 news stories that ranged from the heartwarming rescue of a Thai boys' soccer team from a flooded cave to the divisive election of President Donald Trump."
re.findall("[1-9][0-9][0-9][0-9]",sentence)

['2010', '1000', '2010', '2019']