<a href="https://colab.research.google.com/github/Explorer9/prabhu_INFO5731/blob/master/In_class_exercise_01_(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first In-class-exercise (9/2/2020, 20 points in total)**

(1) Write a Python program to calculate the length of a string. (2 points)

In [1]:
# write your answer here
string="hi"
length=0
for i in string:
  length=length+1
print(length)

2

(2) Write a Python program to count the number of characters in a string. (2 points)

Sample String : 'google.com‘, 

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [2]:
# write your answer here
input_string = "google.com"
count = {} 
  
for i in input_string: 
   if i in count: 
     count[i] += 1
   else: 
     count[i] = 1
print(count)

{'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

(3) Write a Python program to sum all the items in a list. (2 points)

In [3]:
# write your answer here
list=[1,23,5]
sum=0
for i in list:
  sum=sum+i
print(sum)

29

(4) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. (2 points)

Sample String : 'restart‘, 

Expected Result : 'resta\$t'

In [4]:
# write your answer here
string="restart"
new_string=string[0]+""
for i in range(len(string)-1):
  if string[i+1]==string[0]:
    new_string=new_string+"$"
  else:
    new_string=new_string+string[i+1]
print(new_string)

resta$t

(5) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$ (3 points)

In [5]:
# write your answer here
a=input("enter a:")
b=input("enter b:")
s=3.14*(1+int(a)/int(b))**3
print(s)

enter a:2
enter b:2
25.12

(6) Write a Python program to concatenate following dictionaries to create a new one. (3 points)

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [6]:
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
dic_new = {}
for i in (dic1, dic2, dic3): 
  dic_new.update(i)
print(dic_new)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

(7) Write a Python program to check whether an element exists within a tuple. (3 points)

In [7]:
# write your answer here
ele="ff"
tupl=(3,"rt","ff",5)
print(ele in tupl)

True

(8) Write a Python program to find maximum and the minimum value in a set. (3 points)

In [8]:
# write your answer here
sett=([4,6,2,5,3,4,5])
print("Max:",max(sett))
print("Min:",min(sett))

Max: 6
Min: 2

(9) Write a Python program to randomly divide the students in this class into five groups for term projects, each group should have at least 3 students but no more than 5 students (including 5). Here is the students list: (3 points for extra)

studnet_list = ['vmb0067','pc0353','snd0097','yye0005','sg0940','bk0301','rak0120','rrk0058','spk0057','vl0135','nm0547','pn0159',
                'msp0174','dd0420','ds0761','rs0850','ss1995','at0739','at0768','mv0299','tv0119','dy0091']

In [9]:
# write your answer here
t1=[]
t2=[]
t3=[]
t4=[]
t5=[]
import random
studnet_list = ['vmb0067','pc0353','snd0097','yye0005','sg0940','bk0301','rak0120','rrk0058','spk0057','vl0135','nm0547','pn0159', 'msp0174','dd0420','ds0761','rs0850','ss1995','at0739','at0768','mv0299','tv0119','dy0091']
le=len(studnet_list)
while len(studnet_list)!=0:
  try:
     t1.append(random.choice(studnet_list))
     studnet_list.remove(t1[len(t1)-1])
     t2.append(random.choice(studnet_list))
     studnet_list.remove(t2[len(t2)-1])
     t3.append(random.choice(studnet_list))
     studnet_list.remove(t3[len(t3)-1])
     t4.append(random.choice(studnet_list))
     studnet_list.remove(t4[len(t4)-1])
     t5.append(random.choice(studnet_list))
     studnet_list.remove(t5[len(t5)-1])
  except IndexError as e:
    print(e)

print("t1:",t1)
print("t2:",t2)
print("t3:",t3)
print("t4:",t4)
print("t5:",t5)

Cannot choose from an empty sequence
t1: ['rrk0058', 'ss1995', 'ds0761', 'vmb0067', 'sg0940']
t2: ['dd0420', 'vl0135', 'pc0353', 'pn0159', 'at0768']
t3: ['rs0850', 'at0739', 'yye0005', 'snd0097']
t4: ['spk0057', 'nm0547', 'dy0091', 'bk0301']
t5: ['rak0120', 'mv0299', 'msp0174', 'tv0119']